In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
NYC_bike_data = "~/Desktop/BootCamp/Week14/bikesharing//201908_citibike_tripdata.csv"
bike_data_df = pd.read_csv(NYC_bike_data)
bike_data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717732,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1

In [3]:
# 2. Check the datatypes of your columns. 
bike_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48711 entries, 0 to 48710
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             48711 non-null  int64
 1   starttime                48711 non-null  object
 2   stoptime                 48711 non-null  object
 3   start station id         48711 non-null  int64
 4   start station name       48711 non-null  object
 5   start station latitude   48711 non-null  float64
 6   start station longitude  48711 non-null  float64
 7   end station id           48711 non-null  int64
 8   end station name         48711 non-null  object
 9   end station latitude     48711 non-null  float64
 10  end station longitude    48711 non-null  float64
 11  bikeid                   48711 non-null  int64
 12  usertype                 48711 non-null  object
 13  birth year               48711 non-null  int64
 14  gender                   48711 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.6+ MB

In [6]:
# 3. Convert the 'tripduration' column to datetime datatype.''''"
bike_data_df['tripduration'] = pd.to_datetime(bike_data_df['tripduration'], unit='m')

In [7]:
# 4. Check the datatypes of your columns. 
bike_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48711 entries, 0 to 48710
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             48711 non-null  datetime64[ns]
 1   starttime                48711 non-null  object
 2   stoptime                 48711 non-null  object
 3   start station id         48711 non-null  int64
 4   start station name       48711 non-null  object
 5   start station latitude   48711 non-null  float64
 6   start station longitude  48711 non-null  float64
 7   end station id           48711 non-null  int64
 8   end station name         48711 non-null  object
 9   end station latitude     48711 non-null  float64
 10  end station longitude    48711 non-null  float64
 11  bikeid                   48711 non-null  int64
 12  usertype                 48711 non-null  object
 13  birth year               48711 non-null  int64
 14  gender                   48711 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(5)
memory usage: 5.6+ MB

In [9]:
# 5. Export the Dataframe as a new CSV file without the index.
bike_data_df.to_csv('updated_201908_citibike.csv', index=False)